<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFRestaurante.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WFRestaurante.Properties.Settings.stringConnection"
            connectionString="Data Source=10.0.0.162;Initial Catalog=BD2;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WFRestaurante.Properties.Settings>
            <setting name="autenticado" serializeAs="String">
                <value>False</value>
            </setting>
        </WFRestaurante.Properties.Settings>
    </applicationSettings>
</configuration>